article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* default styling */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.8rem;
    background: #fff;
    color: #0f0f0f;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* header styling */

header {
    height: 100vh;
    background-image: url(./assets/asset-1.jpg);
    background-size: cover;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

nav {
    padding-top: 25px;
}

nav p,
nav li {
    float: left;
}

nav ul,
.nav-burger {
    float: right;
}

nav p,
.nav-burger {
    font-size: 3.2rem;
}

.nav-burger {
    visibility: hidden;
}

nav ul a {
    color: #fff;
    padding: 10px 25px;
    line-height: 29px;
}

header h1,
header h2 {
    text-align: center;
    clear: both;
}

header h1 {
    font-size: 12rem;
    margin-top: -4%;
}

header h2 {
    font-size: 2.4rem;
    margin-top: 18%;
}

/* header socials styling */

.socials {
    text-align: center;
    position: absolute;
    right: 50px;
    bottom: 10px;
}

.socials a {
    color: #215a6d;
    font-weight: 300;
}

.socials li {
    padding-bottom: 5px;
}

/* general section styling */

section {
    padding: 100px 0;
}

section p {
    line-height: 29px;
}

section h2,
section h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Poppins', serif;
    line-height: 26px;
    margin-bottom: 30px;
}

section h2 {
    font-size: 3.2rem;
}

section h3 {
    font-size: 2.4rem;
}

/* button styling */

button {
    background-color: #8DD7E9;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 40px;
    transition: all .3s;
}

button:hover,
button:focus {
    background-color: #153a46;
    color: #fff;
}

/* about section styling */

.about {
    text-align: center;
}

.about p {
    width: 65%;
    margin: 0 auto 15px auto;
}

/* grid section styling */

.grid {
    padding: 0;
    clear: both;
}

.parent-container1,
.parent-container2 {
    height: 50vh;
}

.container-left,
.container-right {
    width: calc(100% / 2);
    background: #F6F6F6;
    text-align: center;
    position: relative;
    height: 100%;
}

.container-left {
    float: left;
}

.container-right {
    float: right;
}

.inner-wrapper {
    max-width: calc(1200px / 2);
}

.right-align {
    position: absolute;
    right: 0;
}

.grid h3 {
    margin-top: 12%;
}

.grid p {
    width: 50%;
    margin: 0 auto 15px auto;
}

/* icons section styling */

.icons {
    clear: both;
    background: #215A6D;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.icon-box {
    display: inline-block;
    margin: 0 auto;
    padding: 0 100px;
}

.icon-box i {
    font-size: 4rem;
    padding-bottom: 20px;
}

.icon-box p {
    font-size: 2.5rem;
}

/* about me section styling */

.about-me {
    clear: both;
    background: #F6F6F6;
}

.img-container,
.content-container {
    float: left;
}

.img-container {
    width: 25%;
    margin-right: 25px;
}

.content-container {
    width: calc(75% - 25px);
}

.content-container p {
    margin-bottom: 15px;
}

/* gallery section styling */

.gallery {
    clear: both;
}

.gallery div {
    width: calc((100% - 50px) / 3);
    float: left;
}

.gallery div:not(:last-child) {
    margin-right: 25px;
}

/* footer styling */

footer {
    clear: both;
    background: #215A6D;
    padding-top: 100px;
    color: #fff;
}

footer a {
    color: #fff;
}

footer h3 {
    font-size: 2.2rem;
    text-transform: uppercase;
}

footer p,
footer h3,
footer li {
    margin-bottom: 10px;
}

.footer-nav {
    padding-bottom: 100px;
}

.footer-nav div {
    float: left;
}

.subscribe {
    width: 50%;
    position: relative;
}

.contact-list,
.pages-list {
    margin-left: 50px;
}

.posts-list {
    margin-left: 80px;
}

.contact-list {
    width: calc((50% / 3) - 50px);
}

.pages-list {
    width: calc((50% / 3 - 5%) - 50px);
    text-transform: uppercase;
}

.posts-list {
    width: calc((50% / 3 + 5%) - 80px);
}

input[type=email] {
    width: 100%;
    padding: 10px 40px;
    border: none;
}

.subscribe button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.contact-list p {
    margin: 0;
}

.copyright {
    background: #153a46;
    clear: both;
    padding: 7px 0;
    font-weight: 700;
    text-align: center;
}

/* MEDIA QUERIES */

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    header h1 {
        font-size: 12rem;
        margin-top: -6%;
    }
    
    header h2 {
        font-size: 2.4rem;
        margin-top: 25%;
    }

    .grid p {
        width: 75%;
    }

    .icon-box {
        padding: 0 25px;
    }

    .img-container,
    .content-container {
        float: none;
        width: 100%;
        text-align: center;
    }

    .img-container img {
        margin: 0 auto;
        max-width: 300px;
    }

    .content-container p {
        text-align: left;
    }

    .content-container h2 {
        margin-top: 30px;
    }

    .subscribe {
        width: 100%;
        text-align: center;
    }

    .contact-list,
    .pages-list,
    .posts-list {
        width: calc(100% / 3);
        margin: 30px 0 0 0;
        text-align: center;
    }

    input[type=email],
    .subscribe button {
        width: 50%;
        text-align: center;
    }

    .subscribe button {
        position: static;
        display: block;
        margin: 0 auto;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    header h1 {
        margin-top: -7%;
    }
    
    header h2 {
        margin-top: 32%;
    }

    input[type=email],
    .subscribe button {
        width: 75%;
    }
}

/* addressing nav breakpoint */
@media (max-width: 650px) {
    nav ul {
        display: none;
    }

    .nav-burger {
        visibility: visible;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    header h1 {
        font-size: 8rem;
        margin-top: -6%;
    }
    
    header h2 {
        margin-top: 25%;
    }

    .socials {
        display: none;
    }

    section {
        padding: 50px 0;
    }

    section p {
        font-size: 1.6rem;
    }

    button {
        font-size: 1.6rem;
    }

    .about p {
        width: 100%;
    }

    .container-left,
    .container-right {
        width: 100%;
    }

    .grid__img-container {
        height: 40vh;
    }

    .grid h3 {
        margin-top: 18%;
    }
    
    .grid p {
        width: 80%;
    }

    .icon-box {
        display: block;
    }

    .icon-box:not(:last-child) {
        padding-bottom: 30px;
    }

    .gallery.wrapper {
        width: 100%;
        padding: 0;
    }

    .gallery div:last-child {
        display: none;
    }

    .gallery div:not(:last-child) {
        margin-right: 0;
    }

    .gallery div {
        width: 50%;
    }

    footer {
        padding-top: 50px;
    }

    .footer-nav {
        padding-bottom: 50px;
    }

    input[type=email],
    .subscribe button {
        width: 100%;
    }

    .contact-list,
    .pages-list,
    .posts-list {
        width: 100%;
        margin-top: 20px;
    }

    .footer-nav p,
    .footer-nav a,
    input[type=email] {
        font-size: 1.6rem;
    }

    footer li {
        margin-bottom: 0px;
    }

    footer h3 {
        margin-bottom: 2px;
    }

    .copyright {
        font-weight: 300;
        font-size: 1.6rem;
    }
}